@import "fonts";

html {
  box-sizing: border-box;
  background-color: #737da5;
  font-family: Mitr;
}
.word-break {
  word-break: break-all;
}

.link {
  @apply text-white px-4 tracking-wide font-thin cursor-pointer;
}
  .link:hover {
    @apply border-b-2;
  }
  .link-active {
      @apply border-b-2 font-medium;
  }

.arrow {
  @apply cursor-pointer
}
.social {
  @apply mx-2 cursor-pointer shadow-lg rounded-full;
}

